<div class="main-wrapper-fixed">
	<div class="new-order-button-holder row">
		<button ng-click="addNewOrder()" class="new-order-button six">Create an Order</button>
	</div>

	<div class="row">
		<h2 class="column-header six">In Progress</h2>
		<h2 class="column-header six">Ready for Pick Up</h2>
	</div>
</div>

<div class="main-wrapper">
	<div class="row lists-holder">
		<div class="order-in-progress-holder list-holder" resize>
			<div class="list-bg"></div>
			<ul style="min-height : {{screenHeight - 367}}px;">
				<li ng-repeat="inProgressNumber in inProgressNumbers">	{{inProgressNumber}} <button ng-click="moveToPickup($index)" class="ready-for-pickup">Ready to Go<i></i></button></li>
			</ul>	
				
		</div>


		<div class="order-pickup-holder list-holder" resize>

			<div class="list-bg"></div>
			<ul style="min-height : {{screenHeight - 367}}px;">
				<li ng-repeat="pickUpNumber in pickUpNumbers">{{pickUpNumber}} <button ng-click="deleteOrder($index)" class="delete">Picked Up<i></i></button></li>
			</ul>
		</div>
	</div>

</div>